/* TODO: Have your plugin's CSS files generated to here. */

#pinout
{

    background-image: url(../img/pinout.png);
    background-size: contain;
    width: 512px;
    height: 384px;
    margin: auto;
    text-align: center;
}

.led
{
    background-size: contain;
    width: 12px;
    height: 12px;
    margin: auto;
    display: inline-block;
}

.ledOk 
{ 
    background-image: url(../img/ok.png); 
}

.ledError 
{ 
    background-image: url(../img/error.png); 
}

